html, body,
ul, ol, li,
h1, h2, h3, h4, h5, h6, p,
form, input, div {
  margin: 0;
  padding: 0;
}
li{
    text-decoration: none;
    list-style: none;

}
nav{
    display: flex;
    justify-content: space-between;
    
    
}

.navbar{
    overflow: hidden;
    background-color: rgb(0, 0, 0);
    font-family: Arial;
    
}

.navbar a{
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit; /* Important for vertical align on mobile phones */
    margin: 0; /* Important for vertical align on mobile phones */
}

.navbar a:hover, .dropdown:hover .dropbtn {
    background-color: #BBA14F;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.container h2{
    text-align: center;
}
.Product-Header{
    text-align: center;
}
.Bikes{
    padding-left: 15vw;
    padding-right: 15vw;
    display: flex;
    flex-direction: row ;
    justify-content: space-evenly;
    margin-top: 60px;
}

.Bike-icon{
    position: relative;
    text-align: center;
}
/* .Bike-Pic{
    width: 25vw;
    height: 20vw;
    border: 5px solid black;
} */

.Bike-icon p{
    text-align: center;
    font-size: 20px;
    display: flex;
    align-items: center;
}

footer{
    background-color: black;
    color: white;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 80px;
    float: left;
}

.message{
    float: left;
}
.message-list{
    float: left;
}
.message-list li{
    float: left;
    padding: 13px 20px;
}
.Web-Desc{
    text-align: center;
}
.title{
    text-align: center;
    align-items: center;
}
.creators{
    display: flex;
    justify-content: center;
}
.creator{
    align-items: center;
    justify-content: center;
    padding:30px ;
}
.pic{
    justify-content: center;
    align-items: center;
}
.desc{
    text-align: center;
    align-items: center;
}
.member{
    width: 200px;
    height: 250px;
}

.container {
    position: relative;
    width: 50%;
}

.Bikes img {
    padding-left: 100px;
    padding-right: 100px;;
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
    width: 20vw;
    height: 20vw;
    border: 5px solid black;
    padding: 0vw 5vw 0vw 7vw;
}
.image{
    justify-content: space-evenly;
}
.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.container:hover .image {
    opacity: 0.3;
}

.container:hover .middle {
    opacity: 1;
}

.text {
    background-color: #BBA14F;
    color: white;
    font-size: 16px;
    padding: 16px 32px;
}